<div ng-controller='dashboardController'>
	<div class='container'>
		<div class='row'>
			<div class='col-xs-12'>

				<h3>Welcome {{logged_in_user.username}}</h3>
				<div class='form-group'>
					<label>Search:</label>
					<input type='text' class='form-control' ng-model='search'>
				</div>
				<table class='table table-striped'>
					<tr>
						<th>Catagory</th>
						<th>Topic</th>
						<th>Username</th>
						<th>Answers</th>
					</tr>
					<tr ng-repeat="topic in topics | filter:search | orderBy: '-createdAt'">
						<input type='hidden' value='{{topic.createdAt}}'>

						<td>{{topic.catagory}}</td>
						<td><a href='#' ng-click='topic_view(topic._id)'>{{topic.topic}}</a></td>
						<td><a href='#/user/{{topic._user._id}}'>{{topic._user.username}}</a></td>
						<td>{{topic._answers.length}}</td>
					</tr>
				</table>
				<div class='form-group'>
					<label>Topic:</label>
					<input class='form-control' type='text' ng-model='topic'>
				</div>
				<div class='form-group'>
					<label>Description:</label>
					<input class='form-control' type='text' ng-model='description'>
				</div>
				<div class='form-group'>
					<label>Catagory</label>
					<select ng-model='catagory' class='form-control'>
						<option value='HTML'>HTML</option>
						<option value='CSS'>CSS</option>
						<option value='MySQL'>MySQL</option>
						<option value='Javascript'>Javascript</option>
						<option value='PHP'>PHP</option>
						<option value='Angular'>Angular</option>
						<option value='Mongo'>Mongo</option>
						<option value='Express'>Express</option>
						<option value='Sockets'>Sockets</option>
					</select>
				</div>
				<button class='btn btn-default' ng-click='create_topic()'>Submit</button>
			</div>
		</div>
	</div>
</div>